* {
  box-sizing: border-box;
}
body {
  background: url("../img/background-image.png") no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
}
header {
  display: flex;
  justify-content: center;
  margin: 16px 0px;
}
input {
  font-family: "Work Sans";
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  width: 600px;
  padding: 16px 0px;
  font-weight: 700;
  font-size: 20px;
  padding-left: 8px;
}
  
main {
  width: 100%;
  height: 100vh;
}
.head-box {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  box-shadow: 0px 0px 20px 0px rgb(53, 50, 50);
  border: 1px solid rgb(252, 248, 248);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.settings-of-city {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.air-quality {
  margin-right: 54px;
}

.left-content-of-head-box {
  margin-left: 65px;
}

.max-and-lowest-temperature-of-day {
  margin-left: 125px;
}

.city-name {
  color: white;
  font-family: sans-serif;
  font-size: 58px;
  font-weight: 600;
  line-height: 41.06px;
  position: relative;
  top: 40px;
}
.time-visual {
  margin-left: 15px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 29.33px;
  color: white;
}
.temperature-of-city {
  color: white;
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 93.84px;
}
.right-content-of-head-box {
  color: white;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 550;
  line-height: 29.33px;
}
.bottom-page-content {
  margin-top: 110px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weather-details-title {
  position: absolute;
  margin-top: 85px;
  left: 190px;
  color: white;
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 600;
}
.weather-forecast-title {
  position: absolute;
  margin-top: 55px;
  left: 965px;
  color: white;
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 600;
}
.weather-details-box {
  box-shadow: 0px 0px 20px 0px rgb(53, 50, 50);
  border: 1px solid rgb(252, 248, 248);
  border-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  align-items: center;
}
.weather-forecast-box {
  box-shadow: 0px 0px 20px 0px rgb(53, 50, 50);
  border: 1px solid rgb(252, 248, 248);
  width: 50%;
  border-radius: 10px;
}
.box-of-weather {
  box-shadow: 0px 0px 20px 0px rgb(53, 50, 50);
  border: 1px solid rgb(252, 248, 248);
  width: 130px;
  height: 120px;
  padding: 27px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.top-part-weather-box {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-around;
  width: 100%;
}
.bottom-part-weather-box {
  display: flex;
  margin-bottom: 18px;
  justify-content: space-around;
  width: 100%;
}
/*  */
.feel-like {
  color: rgba(125, 120, 120, 1);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
}
.feel-like-number {
  color: white;
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
}
.wind {
  color: rgba(125, 120, 120, 1);
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
}
.wind-number {
  color: white;
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
}
.humidity {
  color: rgba(125, 120, 120, 1);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
}
.humidity-number {
  color: white;
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
}
.uv {
  color: rgba(125, 120, 120, 1);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
}
.uv-number {
  color: white;
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
}
.visibility {
  color: rgba(125, 120, 120, 1);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
}
.visibility-number {
  color: white;
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
}
.pressure {
  color: rgba(125, 120, 120, 1);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
}
.pressure-number {
  color: white;
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
}

.weather-forecast-box img {
  width: 100%;
  border-radius: 8px;
}
